# Configuración de Firebase
FIREBASE_API_KEY=AIzaSyDKr4fAKrQv4CHNVd-W69IomSjLA7bLQ1w
FIREBASE_AUTH_DOMAIN=rios-delivery.firebaseapp.com
FIREBASE_PROJECT_ID=rios-delivery
FIRESTORE_DATABASE_ID=(default)
FIREBASE_STORAGE_BUCKET=rios-delivery.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=164287925534
FIREBASE_APP_ID=1:164287925534:web:8484b4ad962b83f0f58d0f
FIREBASE_MEASUREMENT_ID=G-14589QHDZG
FIREBASE_SERVICE_ACCOUNT_KEY_PATH=./serviceAccountKey.json

# Configuración del Servidor
PORT=3001
NODE_ENV=development

# Configuración de Base de Datos
DATABASE_URL=

# Configuración de Capacidad
MAX_CAPACITY_KG=375
MAX_CAPACITY_ARROBAS=30

# Configuración de Auditoría
AUDIT_ENABLED=true
SOFT_DELETE_ENABLED=true
